In [37]:
import numpy as np
import pandas as pd
import ast

In [38]:
df_titles = pd.read_csv('titles.csv')
df_titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [39]:
df_credits = pd.read_csv('credits.csv')
df_credits.head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [40]:
df_credits = df_credits[['person_id','id','name']]
df_credits.head()

   person_id       id             name
0       3748  tm84618   Robert De Niro
1      14658  tm84618     Jodie Foster
2       7064  tm84618    Albert Brooks
3       3739  tm84618    Harvey Keitel
4      48933  tm84618  Cybill Shepherd

In [41]:
df_credits = df_credits.groupby('id')['name'].apply(','.join).reset_index()
df_credits.head()

          id                                               name
0  tm1000037  Luna Wedler,Jannis Niewöhner,Milan Peschel,Edi...
1  tm1000147  Guy Pearce,Matilda Anna Ingrid Lutz,Travis Fim...
2   tm100015  Idris Elba,Paul Walker,Matt Dillon,Michael Eal...
3  tm1000166  Glenn Fredly,Marcello Tahitoe,Andien Aisyah,Ca...
4  tm1000185  Adrianna Chlebicka,Mateusz Banasiuk,Mirosław B...

In [42]:
df = pd.merge(df_titles, df_credits, on='id')

In [43]:
df.iloc[0]

id                                                                tm84618
title                                                         Taxi Driver
type                                                                MOVIE
description             A mentally unstable Vietnam War veteran works ...
release_year                                                         1976
age_certification                                                       R
runtime                                                               114
genres                                                 ['drama', 'crime']
production_countries                                               ['US']
seasons                                                               NaN
imdb_id                                                         tt0075314
imdb_score                                                            8.2
imdb_votes                                                       808582.0
tmdb_popularity                                                    40.965
tmdb_score                                                          8.179
name                    Robert De Niro,Jodie Foster,Albert Brooks,Harv...
Name: 0, dtype: object

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5489 entries, 0 to 5488
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5489 non-null   object
 1   title                 5488 non-null   object
 2   type                  5489 non-null   object
 3   description           5481 non-null   object
 4   release_year          5489 non-null   int64
 5   age_certification     2990 non-null   object
 6   runtime               5489 non-null   int64
 7   genres                5489 non-null   object
 8   production_countries  5489 non-null   object
 9   seasons               1840 non-null   float64
 10  imdb_id               5120 non-null   object
 11  imdb_score            5063 non-null   float64
 12  imdb_votes            5049 non-null   float64
 13  tmdb_popularity       5487 non-null   float64
 14  tmdb_score            5317 non-null   float64
 15  name                  5489 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 686.2+ KB

In [45]:
movies = df[['id','title','type','description','genres','name']]

In [46]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5489 entries, 0 to 5488
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5489 non-null   object
 1   title        5488 non-null   object
 2   type         5489 non-null   object
 3   description  5481 non-null   object
 4   genres       5489 non-null   object
 5   name         5489 non-null   object
dtypes: object(6)
memory usage: 257.4+ KB

In [47]:
movies.head()

,id,title,type,description,genres,name
0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,"['drama', 'crime']","Robert De Niro,Jodie Foster,Albert Brooks,Harv..."
1,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,"['drama', 'action', 'thriller', 'european']","Jon Voight,Burt Reynolds,Ned Beatty,Ronny Cox,..."
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...","['fantasy', 'action', 'comedy']","Graham Chapman,John Cleese,Eric Idle,Terry Gil..."
3,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,"['war', 'action']","Lee Marvin,Ernest Borgnine,Charles Bronson,Jim..."
4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,"['comedy', 'european']","Graham Chapman,Michael Palin,Terry Jones,Eric ..."

In [48]:
movies.isnull().sum()

id             0
title          1
type           0
description    8
genres         0
name           0
dtype: int64

In [49]:
movies.dropna(inplace=True)

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [50]:
movies.duplicated().sum()

0

In [51]:
movies.iloc[0].description

'A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge for violent action.'

In [52]:
movies['description'] = movies['description'].apply(lambda x: x.replace(" — "," "))

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/2963908134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['description'] = movies['description'].apply(lambda x: x.replace(" — "," "))

In [53]:
movies['name']=movies['name'].apply(lambda x: x.replace(" ",""))

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/3569807730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['name']=movies['name'].apply(lambda x: x.replace(" ",""))

In [54]:
movies['name']= movies['name'].apply(lambda x: x.replace(","," "))

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/2712277076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['name']= movies['name'].apply(lambda x: x.replace(","," "))

In [55]:
movies['description']=movies['description'].apply(lambda x:x.split())
movies['name']=movies['name'].apply(lambda x:x.split())

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/3602369485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['description']=movies['description'].apply(lambda x:x.split())
/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/3602369485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['name']=movies['name'].apply(lambda x:x.split())

In [56]:
movies['description']=movies['description'].apply(lambda x: [i.replace("-","") for i in x])

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/3532559115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['description']=movies['description'].apply(lambda x: [i.replace("-","") for i in x])

In [57]:
movies.head()

,id,title,type,description,genres,name
0,tm84618,Taxi Driver,MOVIE,"[A, mentally, unstable, Vietnam, War, veteran,...","['drama', 'crime']","[RobertDeNiro, JodieFoster, AlbertBrooks, Harv..."
1,tm154986,Deliverance,MOVIE,"[Intent, on, seeing, the, Cahulawassee, River,...","['drama', 'action', 'thriller', 'european']","[JonVoight, BurtReynolds, NedBeatty, RonnyCox,..."
2,tm127384,Monty Python and the Holy Grail,MOVIE,"[King, Arthur,, accompanied, by, his, squire,,...","['fantasy', 'action', 'comedy']","[GrahamChapman, JohnCleese, EricIdle, TerryGil..."
3,tm120801,The Dirty Dozen,MOVIE,"[12, American, military, prisoners, in, World,...","['war', 'action']","[LeeMarvin, ErnestBorgnine, CharlesBronson, Ji..."
4,ts22164,Monty Python's Flying Circus,SHOW,"[A, British, sketch, comedy, series, with, the...","['comedy', 'european']","[GrahamChapman, MichaelPalin, TerryJones, Eric..."

In [58]:
movies['genres'] = movies['genres'].apply(ast.literal_eval)

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/278022143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(ast.literal_eval)

In [59]:
movies.head()

,id,title,type,description,genres,name
0,tm84618,Taxi Driver,MOVIE,"[A, mentally, unstable, Vietnam, War, veteran,...","[drama, crime]","[RobertDeNiro, JodieFoster, AlbertBrooks, Harv..."
1,tm154986,Deliverance,MOVIE,"[Intent, on, seeing, the, Cahulawassee, River,...","[drama, action, thriller, european]","[JonVoight, BurtReynolds, NedBeatty, RonnyCox,..."
2,tm127384,Monty Python and the Holy Grail,MOVIE,"[King, Arthur,, accompanied, by, his, squire,,...","[fantasy, action, comedy]","[GrahamChapman, JohnCleese, EricIdle, TerryGil..."
3,tm120801,The Dirty Dozen,MOVIE,"[12, American, military, prisoners, in, World,...","[war, action]","[LeeMarvin, ErnestBorgnine, CharlesBronson, Ji..."
4,ts22164,Monty Python's Flying Circus,SHOW,"[A, British, sketch, comedy, series, with, the...","[comedy, european]","[GrahamChapman, MichaelPalin, TerryJones, Eric..."

In [60]:
def convert5(obj):
    L=[]
    counter = 0
    for i in obj:
        if counter !=5:
            L.append(i)
            counter+=1
        else:
            break

    return L

In [61]:
movies['name']=movies['name'].apply(convert5)

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/1920373591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['name']=movies['name'].apply(convert5)

In [62]:
movies['name'][0]

['RobertDeNiro',
 'JodieFoster',
 'AlbertBrooks',
 'HarveyKeitel',
 'CybillShepherd']

In [63]:
movies.head()

,id,title,type,description,genres,name
0,tm84618,Taxi Driver,MOVIE,"[A, mentally, unstable, Vietnam, War, veteran,...","[drama, crime]","[RobertDeNiro, JodieFoster, AlbertBrooks, Harv..."
1,tm154986,Deliverance,MOVIE,"[Intent, on, seeing, the, Cahulawassee, River,...","[drama, action, thriller, european]","[JonVoight, BurtReynolds, NedBeatty, RonnyCox,..."
2,tm127384,Monty Python and the Holy Grail,MOVIE,"[King, Arthur,, accompanied, by, his, squire,,...","[fantasy, action, comedy]","[GrahamChapman, JohnCleese, EricIdle, TerryGil..."
3,tm120801,The Dirty Dozen,MOVIE,"[12, American, military, prisoners, in, World,...","[war, action]","[LeeMarvin, ErnestBorgnine, CharlesBronson, Ji..."
4,ts22164,Monty Python's Flying Circus,SHOW,"[A, British, sketch, comedy, series, with, the...","[comedy, european]","[GrahamChapman, MichaelPalin, TerryJones, Eric..."

In [64]:
movies['soup'] = movies['description']+movies['genres']+movies['name']

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/3639847218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['soup'] = movies['description']+movies['genres']+movies['name']

In [65]:
movies.head()

,id,title,type,description,genres,name,soup
0,tm84618,Taxi Driver,MOVIE,"[A, mentally, unstable, Vietnam, War, veteran,...","[drama, crime]","[RobertDeNiro, JodieFoster, AlbertBrooks, Harv...","[A, mentally, unstable, Vietnam, War, veteran,..."
1,tm154986,Deliverance,MOVIE,"[Intent, on, seeing, the, Cahulawassee, River,...","[drama, action, thriller, european]","[JonVoight, BurtReynolds, NedBeatty, RonnyCox,...","[Intent, on, seeing, the, Cahulawassee, River,..."
2,tm127384,Monty Python and the Holy Grail,MOVIE,"[King, Arthur,, accompanied, by, his, squire,,...","[fantasy, action, comedy]","[GrahamChapman, JohnCleese, EricIdle, TerryGil...","[King, Arthur,, accompanied, by, his, squire,,..."
3,tm120801,The Dirty Dozen,MOVIE,"[12, American, military, prisoners, in, World,...","[war, action]","[LeeMarvin, ErnestBorgnine, CharlesBronson, Ji...","[12, American, military, prisoners, in, World,..."
4,ts22164,Monty Python's Flying Circus,SHOW,"[A, British, sketch, comedy, series, with, the...","[comedy, european]","[GrahamChapman, MichaelPalin, TerryJones, Eric...","[A, British, sketch, comedy, series, with, the..."

In [66]:
new_df=movies[['id','title','type','soup']]

In [67]:
new_df.head()

,id,title,type,soup
0,tm84618,Taxi Driver,MOVIE,"[A, mentally, unstable, Vietnam, War, veteran,..."
1,tm154986,Deliverance,MOVIE,"[Intent, on, seeing, the, Cahulawassee, River,..."
2,tm127384,Monty Python and the Holy Grail,MOVIE,"[King, Arthur,, accompanied, by, his, squire,,..."
3,tm120801,The Dirty Dozen,MOVIE,"[12, American, military, prisoners, in, World,..."
4,ts22164,Monty Python's Flying Circus,SHOW,"[A, British, sketch, comedy, series, with, the..."

In [68]:
new_df['soup'] = new_df['soup'].apply(lambda x:" ".join(x))

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/699771268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['soup'] = new_df['soup'].apply(lambda x:" ".join(x))

In [69]:
new_df['soup'] = new_df['soup'].apply(lambda x:x.lower())

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/2648161047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['soup'] = new_df['soup'].apply(lambda x:x.lower())

In [70]:
new_df.head()

,id,title,type,soup
0,tm84618,Taxi Driver,MOVIE,a mentally unstable vietnam war veteran works ...
1,tm154986,Deliverance,MOVIE,intent on seeing the cahulawassee river before...
2,tm127384,Monty Python and the Holy Grail,MOVIE,"king arthur, accompanied by his squire, recrui..."
3,tm120801,The Dirty Dozen,MOVIE,12 american military prisoners in world war ii...
4,ts22164,Monty Python's Flying Circus,SHOW,a british sketch comedy series with the shows ...

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [72]:
# Define a TF-IDF Vectorizer Object.
tfidf = TfidfVectorizer(stop_words='english')

In [73]:
# Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(new_df['soup'])

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Construct a reverse map of indices and movie titles
indices = pd.Series(new_df.index, index=new_df['title']).drop_duplicates()

In [74]:
# Drop duplicates based on 'title'
new_df.drop_duplicates(subset='title', keep='first', inplace=True)

# Recreate the indices, tfidf_matrix and cosine_sim
indices = pd.Series(new_df.index, index=new_df['title']).drop_duplicates()

tfidf_matrix = tfidf.fit_transform(new_df['soup'])

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

/var/folders/rn/dt8kjgfs5xs9mk_t1rx96v2h0000gn/T/ipykernel_55576/452042301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop_duplicates(subset='title', keep='first', inplace=True)

In [75]:
def get_recommendations(title, cosine_sim=cosine_sim):
     # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwise similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Flatten the array
    sim_scores = [(i, score) for i, score in sim_scores if score.size == 1]

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return new_df['title'].iloc[movie_indices]

In [76]:
print(get_recommendations("veteran"))

KeyError: 'veteran'

In [ ]:
new_df.shape[0]

5433